@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #c7a17a;
    --subtitle-color-light: #fff;
    --subtitle-color-dark: #27292b;
    --light-description-color:rgb(230,230,230);
    --description-color: rgb(130,130,130);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block;
}

.container{
    max-width: 1200px;
    margin: auto;
}

h2, h1 {
    font-size: 26px;
    font-family: Satisfy;
    color: var(--title-color);
}

.line {
    display: block;
    background-color: #c7a17a;
    height: 3px;
    /* width: change for your block */
}

