.faq {
    padding: 24px;
    background-color: #f2f0ec;
    position: relative;
    font-family: Roboto, sans-serif;
}

.faq__header {
    font-weight: 400;
    line-height: 26px;
}
.faq__title {
    color:var(--title-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0;
}
.faq__subtitle {
    color: var(--subtitle-color-light);
    font-family: Bebas Neue, cursive;
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 1.16px;
    line-height: 63.8px;
}
.faq__block-section-container {
    position: static;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.faq__block-container {
    position: relative;
    z-index: 1;
    color: #fff;
}
.faq__block-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}
.faq__block-background-img {
    background: url("../img/coffee-break-faq-bg.png") 51.25% 32.81% / cover no-repeat fixed, rgb(46, 48, 50);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.faq__block-background-overlay {
    background: rgba(34, 36, 38, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.faq__block-text {
    color: rgb(225,224,224);
    margin: 20px 0;
    line-height: 25px;
}
.faq__block-text-strong {
    font-size: 19px;
    font-weight: 500;
}
.faq__block-button {
    margin: 50px 0;
}
.faq__button {
    width: 115px;
    height: 25px;
    background: #e8ba7e;
    padding: 14px 20px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
    margin: 0 8px;
    text-decoration: none;
    transition: color .2s ease-in,background-color .2s ease-in,border-color .2s ease-in,box-shadow .2s ease-in,-webkit-box-shadow .2s ease-in
}
.faq__button.faq__contact-us {
    background: none;
    border: #e8ba7e 1px solid;
    color: #e8ba7e;
}
.faq__button.faq__contact-us:hover {
    background: #e8ba7e;
    border: none;
    color: white;
}
.faq__button.faq__select-a-course:hover {
    background: white;
    color: black;
}
.faq__line {
    max-width: 13%;
    margin: 15px 0;
}
.faq__block-right-accord {
    padding: 20px 0;
}
.faq__block-right-accord-text {
    font-family: Roboto, sans-serif;
    color: rgb(225,224,224);
    line-height: 25.5px;
}
.faq__block-right-accord.faq__collapsed .faq__block-right-accord-text {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.faq__block-right-accord.faq__expanded .faq__block-right-accord-text {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    margin-top: 20px;
}
.faq__accord-line {
    max-width: 100%;
    background: grey;
    height: 1px;
    opacity: 30%;
}
.faq__accord-container, .faq__header {
    flex-basis: 100%;
    max-width: 100%;
    width: 0;
    min-width: 0;
}
.faq__block-container {
    margin: 150px 0;
}
.faq__block {
    display: flex;
}
.faq__accord-header {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.faq__block-right-accord-title {
    width: 0;
    max-width: calc(100% - 15px - 20px);
    flex: 1;
    vertical-align: baseline;
    word-wrap: break-word;
}
.faq__accord-icon-plus {
    vertical-align: baseline;
    position: relative;
    height: 15px;
    max-width: 15px;
    flex-basis: 15px;
    opacity: .8;
    margin-left: 20px;
}
.faq__accord-icon-plus:after {
    width: 100%;
    height: 2px;
}
.faq__expanded .faq__accord-icon-plus:before {
    height: 0;
}
.faq__accord-icon-plus:before {
    width: 2px;
    height: 100%;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
}
.faq__accord-icon-plus:after, .faq__accord-icon-plus:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background: white;
}
.faq__accord-header {
    display: flex;
}
.faq__block-right-accord-title{
    font-family: "Bebas Neue", cursive;
    font-size: 28px;
}
.faq__block-right-accord-title, .faq__block-right-accord-text {
    flex-basis: 100%;
}
@media (min-width: 768px) {
    .faq__block-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .faq__block-left {
        flex-basis: 50%;
        max-width: 50%;
    }
    .faq__block-center {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }
    .faq__block-right {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
    .faq__block {
        padding: 0 15px;
        width: 0;
    }
}
@media (max-width: 767px) {
    .faq__subtitle {
        font-size: 38px;
    }
    .faq__block-right-accord-title {
        font-size: 24px;
    }
    .faq__block-center {
        display: none;
    }
}