.features {
    padding: 90px 24px 0;
}

.features-wrapper {
    display: flex;
}

.features__title {
    font-weight: 400;
    line-height: 26px;
}

.features__block-text {
    font-weight: 500;
    font-size: 19px;
    color: rgb(91,91,91);
    line-height: 29.5px;
}

.features__subtitle {
    color: var(--subtitle-color-dark);
    font-size: 38px;
    font-family: Bebas Neue, cursive;
    margin-top: 20px;
    line-height: 41px;
}

.features-block {
    display: flex;
    column-gap: 15px;
    padding: 15px 0;
}

.features-block-info__title {
    color: #27292b;
    font-size: 24px;
    font-family: Bebas Neue, cursive;
    letter-spacing: 0.48px;
}

.features-block-info__desc{
    color: var(--description-color);
    line-height: 25.5px;
}

.features__list{
    margin: 25px 0 50px;
    
}

.features-photos img {
    background: url(../img/features/bg-photo-barista.webp) center center / contain no-repeat;
}

.features-wrapper{
    flex-direction: column;
}

.features__line span {
    max-width: 10%;
}

.features__line {
    padding: 15px 0;
}

.features-block-info__title {
    font-size: 24px;
    line-height: 29.5px;
    margin-right: 5px;
}

.photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    padding: 60px 0;
}

.features-photos{
    padding-bottom: 60px;
}

@media(min-width: 480px) {
    .photos {
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media (min-width: 768px) {
    .features-wrapper {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 30px;
    }

    .features__subtitle {
        font-size: 48px;
        line-height: 52.8px;
        letter-spacing: 0.96px;
    }

    .features-block__wrapper-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f0ec;
        border-radius: 100%;
        max-width: 70px;
        height: 70px;
        width: 100%;
    }

    .features__list img {
        width: 27px;
        height: 40px;
    }

    .features__list img:last-of-type{
        width: 40px;
    }

    .features-block-info__title {
        font-size: 26px;
        line-height: 32px;
        margin-right: 5px;
    }

}

@media (min-width: 992px) {
    .photos {
        grid-template-columns: repeat(3, 1fr);
    }
}