.features-wrapper{
    display: flex;
}

.features__title{
    font-weight: 400;
}

.features__block-text{
    font-weight: 500;
    font-size: 19px;
    color: rgb(91,91,91);
}

.features__subtitle{
    color: var(--subtitle-color-dark);
    font-size: 38px;
    font-family: Bebas Neue, cursive;
}

@media (min-width: 320px){
    .features-wrapper{
        flex-direction: column;
    }

    .features__line span{
        max-width: 10%;
    }

    .features__line{
        padding: 15px 0;
    }

}