@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
footer{
    background-color:#27292b;
    
}


    .form__map{
    display: flex;
    flex-direction: column;
}

.footer__contact-form{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 654px;
    background-color:#2e3032;
    padding:10px;
   
}
.footer__contact-form > input{
    align-items: center;
}


.footer__form-span{
    font-family:'Zeyada', cursive;
    font-size:26px;
    color:#c7a166;

}
.footer__contacts{
    color:#fff;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size:38px;

}
.footer__number,a{
    color:#cdcccd;;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top:5px;

}
i{
    color:#c7a166;
}
input{
    background-color: rgba(255, 255, 255, 0.01);
    width:100%;
    margin-top:12px;
    margin-bottom: 20px;
    padding:15px 26px 15px 26px; 
    display: block;
    color: #fff;
    --w-get-input-background-color: rgba(255, 255, 255, 0.01);
    --w-get-input-color: #fff;
 
}



.submit__btn{
    width:220px;
    height:50px;
    background-color:#c7a17a;
    color:#fff;
    margin-top:12px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    border:none;
    font-weight:500;
}
button:hover{
    background-color:#513b25;
}
iframe{
    width:100%;
    height:500px;
}

.footer__wrapper{
    display: flex;
    flex-direction:column;
    width:300px;
    height:400px;
    
}
.footer__item{
    padding:26px 15px 26px 15px;
    display: flex;
    flex-direction:row;
}
.footer__item-text{
    display: flex;
    flex-direction:column;
}
.footer__item-span{
    color:#cdcccd;
    font-family:'Roboto', sans-serif;
}
.footer-icon{
    width:70px;
    height:70px;
}
.footer__item-title{
    color:#fff;
    font-family:'Bebas Neue', cursive;
    text-transform:uppercase;
    font-size:30px;
    font-weight: 400;
}

.footer__menu{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
}
.footer__menu-item{
    text-decoration: none;
    margin: 0 0 15px 0;
    font-weight: 600;
    font-family:'Roboto', sans-serif;
    color: #fff;
    
    
}
.footer__socialmedia-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 20px;
}
.footer__logo{
    
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 207px;
    height: auto;
}
.status__submit{
    color:#fff;
    font-family: 'Roboto', sans-serif;

}
label{
    font-family:'Roboto', sans-serif;
    padding-left: 20px;
}

.footer__socialmedia-icons > i {
    display: block;
    font-size:40px;
    cursor: pointer;
}
.footer__creator{
    color:#fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px
}
i:hover{
filter: saturate(160%) brightness(85%);
}

@media (min-width:400px){
    .footer__contact-form{
        width:100%;
        height: 654px;
        
    }
    input{
        width:100%;
        line-height:20px;
        margin:20px;
        padding:15px 26px 15px 26px;
    }
    .submit__btn{
        width:550px;
        line-height: 20px;
        margin:26px;
        padding:15px 26px 15px 26px;
        
    }
}
@media (min-width: 773px){
    .form__map{
        display: flex;
        justify-content: space-around;
    }
    .footer__contact-form{
        width:300px;
        height: 600px;
        
    }
    input{
        width:220px;
        height:20px;
        margin:20px;
        padding:20px 30px 20px 30px;
    }
    
    .submit__btn{
        width:219px;
        line-height:21px;
        margin:26px;
        
    }
    .footer__wrapper{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width:100%;
        height:200px;
    }
    .navigation__wrapper{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    }
    .img__list-wrapper{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .footer__item{
        
        display: flex;
        flex-direction:row;
    }


@media (min-width:400px){
    .footer__contact-form{
        width:100%;
        height: 654px;
        
    }
    input{
        width:auto;
        line-height:20px;
        margin:20px;
        padding:15px 26px 15px 26px;
    }
    .submit__btn{
        width:auto;
        line-height: 20px;
        margin:26px;
        padding:15px 26px 15px 26px;
        
    }
}
@media (min-width: 1200px){

    .footer__contact-form{
        width:400px;
        height: 600px;
        
    }
    iframe{
        width:700px;
        height:500px;
    }
    input{
        width:320px;
        height:20px;
        margin:20px;
        padding:20px 30px 20px 30px;
    }
    .submit__btn{
        width:319px;
        line-height:21px;
        margin:26px;
        
    }
    .footer__wrapper{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width:100%;
        height:200px;
        
    }.footer__item{
        margin: 20px;
        display: flex;
        flex-direction:row;
    }
    .footer__menu{
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }.footer__socialmedia-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }.img__list-wrapper{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: flex-start;
    }.footer__creator{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

    }
    }
    