.header {
    background-image: linear-gradient(rgba(34,36,38,0.9), rgba(34,36,38,0.9)), url(../img/header/header-background-image.png);
    background-size: cover;
    background-position-x: 58.13%;    
    background-position-y: 13.28%;    
}

.header__container{
    padding: 0 24px;
}

.header__logo{
    width: 188px;
    height: 32.64px;
}

.header__nav{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header__menu{
    display: flex;
    flex-direction: column;
    display: none;
}

.header__menu-item{
    text-decoration: none;
    color: var(--light-description-color);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    position: relative;
}

.header__menu>a:hover{
    color: #fff;
}

.header__menu>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    bottom: -5px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.header__menu>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.header__socialmedia-icons{
    display: flex;
    flex-direction: row;
    display: none;
}

.header__banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 0 150px;
}

.header__title{
    align-items: center;
    justify-content: center;
    line-height: 26px;
    font-weight: 100;
}

.header__description{
    font-family: 'Bebas Neue', cursive;
    font-size: 62px;
    color: #fff;
    text-align: center;
    letter-spacing: 1.24px;
    line-height: 62px;
    margin-top: 20px;
}

.header-liner{
    background-color: #c7a17a;
    height: 3px;
    width: 4%;
    margin: 15px 0;
}

.header__slogan{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: var(--light-description-color);
    text-align: center;
    line-height: 28.5px;
}

@media (min-width: 441px){
    .header {
        height: 578px;
    }
}

@media (min-width: 768px){
    .header__container{
        padding: 0 32px;
    }

    .header {
        height: 748px;   
    }

    .header__banner{
        padding: 200px 0 252.5px;
    }

    .header__description{
        font-size: 88px;
        letter-spacing: 1.76px;
        line-height: 88px;
        margin-top: 19px;
    }

    .header__slogan{
        margin-top: 1px;
    }
}

@media (min-width: 992px){
    .header {
        height: 980.5px;
    }

    .header__container{
        padding: 0;
    }

    .header__nav{
        max-height: 90px;
        padding:30px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo-container{
        flex: 1;
    }

    .header__logo{
        width: auto;
        height: 27.31px;
    }

    .header__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        flex: 3.51;
    }
    
    .header__menu-item{
        text-decoration: none;
        color: var(--light-description-color);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        text-align: left;
    } 
    
    .header__socialmedia-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        column-gap: 10px;
        flex: 1;
    }

    .header__facebook-icon, .header__instagram-icon, .header__twitter-icon, .header__youtube-icon{
        width: 30px;
        height: 30px;
    }

   .header__social-link-fb{
    background-image: url('../img/header/header-facebook-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    width: 30px;
    height: 30px;
   }
   
   .header__social-link-fb:hover{
    filter: saturate(160%) brightness(85%);
   }

    .header__banner{
        padding: 270px 0 355px;
    }

    .header__title{
        line-height: 24px;
        font-size: 24px;
    }

    .header__description{
        font-size: 115px;
        letter-spacing: 2.3px;
        line-height: 115px;
        margin-top: 19px;
    }

    .header-liner{
        width: 3.5%;
    }
}

@media (min-width: 1056px){
    .header{ 
        height: 938.141px; 
    }

    .header__logo{
        height: 29.37px;
        width: auto;
    }

    .header__socialmedia-icons{
        column-gap: 15px;
    }

    .header__menu{
        margin-left: 5px;
    }
}

@media (min-width: 1200px){
    .header__nav{
     max-height: 92.64px;
    }

    .header__logo{
        width: 188px;
        height: 32.64px;
    }
}