.pricing {
      background: #27292b;
      display: block;
      flex-basis: 100%;
      flex-shrink: 0;
      font-family: Roboto, sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 25.5px;
      overflow-wrap: break-word;
      padding: 0 0 90px 0;
      position: relative;
      vertical-align: baseline;
      z-index: 1;
}

.pricing__divider-photo {
    padding-top: 90px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.pricing__header {
    width: 100%;
    text-align: center;
}

.pricing__title {
    color:var(--title-color);
    font-family: Satisfy, cursive;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    vertical-align: baseline;
}

.pricing__subtitle {
    color: var(--subtitle-color-light);
    font-family: "Bebas Neue", cursive;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.76px;
    line-height: 41.8px;
    text-align: center;
    padding: 5px 0 5px 0;
}

.divider__line {
    max-width: 5%;
    border: 2px solid #c7a17a;
    margin: 0 auto;
}

.pricing__description {
    color: rgb(230, 230, 230);
    font-family: Roboto, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 28.5px;
    text-align: center;
    vertical-align: baseline;
    padding: 15px 0 45px 0;
}

.pricing__carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel__slide {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.04);
    width: 272px;
}

.carousel__slide h3 {
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.48px;
    line-height: 29.52px;
    text-align: left;
    vertical-align: baseline;
}

.slide__subtitle {
    color:rgb(199, 161, 122);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 22.5px;
    text-align: left;
    vertical-align: baseline;
    margin-top: 20px;
    position: relative;
}

.icon {
    flex-basis: 20px;
    height: 24px;
    justify-content: flex-start;
    max-width: 20px;
    width: 20px;
    vertical-align: middle;
}

.slide__content-item {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: nowrap;
}

.slide__content-text {
    color: rgb(225, 224, 224);
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 25.5px;
    list-style-type: none;
    text-align: left;
    margin-left: 10px;
    position: relative;
    justify-content: flex-start;
}

.slide__link {
    display: block;
    background-color: var( --title-color);
    width: 149.2px;
    color: var(--subtitle-color-light);
    cursor: pointer;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 15px;
    height: 45px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    word-break: break-word;
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 15px 0 15px 0;
}

.slide__link:hover {
    background-color: var(--subtitle-color-light);
    color: var(--subtitle-color-dark);
}

