.team__subtitle{
    font-family: "Bebas Neue";
    color:#27292b;
}
.team_guru_icons{
    color:#c7a17a;
}
.team__list{
font-family: "Roboto Medium";
color:#5b5b5b;
}

.team_positions{
font-family: "Roboto";
color:rgb(91,91,91);
}

.team_name{
    font-family: "Bebas Neue";
    color: #c7a17a;
}

.team_characteristic{
    font-family: "Roboto";
    color: #828282;
}




