.video__block {
  background: linear-gradient(rgba(34, 36, 38, 0.9), rgba(34, 36, 38, 0.9)),
    url(../img/about&video/video-background.jpg);
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
  margin: 0 auto;
}
.video__slogan {
  color: var(--subtitle-color-light);
  font-size: 58px;
  font-family: "Bebas Neue", cursive;
  line-height: 52.8px;
  letter-spacing: 0.96px;
  text-align: center;
  padding: 20px;
}
.video__push-button {
  padding-top: 10px;
  width: 70px;
}
.video__title {
  font-weight: 400;
}
@media (max-width: 991px) {
  .video__slogan {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .video__slogan {
    font-size: 38px;
  }
  .video__push-button {
    width: 50px;
  }
}
@media (min-width: 992px) {
  .video__title {
    font-size: 24px;
  }
}